.h2 {
    text-align: center;
    display: flexbox;
    color: black;
}
.imagen {
    width: 100%;
    padding: 0%;
    margin: 0%; 
}
.parrafo1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 400%;
}
.parrafo2{
    text-align: center;
    font-size: 500%;
}
.lorenipsum{
    font-size: 200%;
    text-align: left;
}
.boton{
    padding: 0%;
    margin: 0%;
    display: inline-block;
}
.button{
    display: block;
    margin: 0%;
    padding: 0%;
    position: relative;
    text-align: center;
    left: 400%;
}